[Desktop Entry]
Name=NAS Sync
GenericName=Synchronisation NAS
Comment=Synchronisation automatique de dossiers avec un NAS
Exec=nas_sync_app.py
Icon=org.cassis.NasSync
Type=Application
Categories=Utility;Network;FileManager;
Keywords=nas;sync;synchronisation;réseau;partage;
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
